<h1>Open Problems</h1>

<% @problems.reverse_order.each do |this_problem_right_here| %>
    <% if this_problem_right_here.resolved == false %>
        <div>

          <h3><%= link_to this_problem_right_here.description, problem_path(this_problem_right_here) %></h3>
          <ul>
            <li>Posted by <%= this_problem_right_here.user.name %> on </li> <li> <%= this_problem_right_here.created_at.strftime("%m/%d/%Y"" at ""%I:%M %p") %></li>
          </ul>
          <p><%= this_problem_right_here.history.truncate(100) %></p>
        </div>
    <% else %>
        <p> There are no open problems . . . yet! </p>
    <% end %>

<% end %>


<%= paginate @problems %>