<h1>Open Problems</h1>

<% @problems.reverse_order.each do |problem| %>
    <div>

      <h3><%= link_to problem.description, problem_path(problem) %></h3>
      <ul>
        <li>Posted by <%= problem.user.name %> on </li> <li> <%= problem.created_at.strftime("%m/%d/%Y"" at ""%I:%M %p") %></li>
      </ul>
      <p><%= problem.history.truncate(100) %></p>
    </div>
<% end %>

<%= paginate @problems %>