<h1>Post a new Problem</h1>


<% if user_signed_in? %>
    <%= form_for @problem do |f| %>

        <fieldset>
          <legend>Tell us what's going on</legend>

          <%= f.label "Your problem:" %>
          <%= f.text_field :description %>

          <%= f.label 'What you have tried so far:' %>
          <%= f.text_area :history %>

          <%= button_tag 'Post Problem' %>
        </fieldset>

    <% end %>
<% else %>
    <p><%= link_to 'Log in to post your homework problem.', new_user_session_path %></p>

<% end %>